body{
    background-color: #3B3B4F;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

img{
    width: 20rem;
}
.head{
    text-align: center;
    color: white;
}

.container{
    background-color: gray;
    border: solid black;
    border-width: 40px 10px 10px 10px;
    border-radius: 5px;
    height: 50vh;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}


.input{
    padding: 5px;
}
.container >:first-child{
    color: white;
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
}
#user-input{
height: 20px;
border-radius: 7px;
padding: 5px;
border: none;
margin: 10px 5px 10px 5px;
}
.buttons{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.btn>*{
    padding: 5px 20px 5px 20px;
    font-size: medium ;
    text-align: center;
}

.btn{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

#result-div{
    text-align: center;
}